<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title text-center'>
    Connect and Spread <br>
      <span class='catchcopy_ja'>つながって、ひろがる。</span>
    </h2>
    
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# プロフィール一覧 %>
  <div class='content_box text-center'>
    <h3>Concept</h3>
    <p class="subtitle">UNIONについて</p>
    <p class='service-explain'>
        What do you have skills ?<br>

        あなたはどんなスキルをお持ちですか？<br>

        <br>
        UNIONは誰でも簡単に繋がれる<br>
      
        スキルシェアアプリです。<br>
        <br>
        雇用形態にかかわらず、<br>

        スキルを簡単にシェアしたり、<br>
      
        必要なスキルを持っている人とすぐに繋がれます。<br>
    </p>
    </div>
    <div class='content_box'>
      <h3 class="text-center">skill share</h3>
      <p class= 'subtitle  text-center'>スキルシェア実例</p>
      <div class="case-box">
        <p class="case01">Case01</p>
        <p class="case-example">トレーナーAさん<span class="mark01"></span>フォトグラファーBさん</p>
      </div>
      <ul class="human-list">
        <li>
        <p class="human-name">トレーナーAさん</p>
        <div class="about-human">
          <p class="human-image"><%= image_tag "trainer01.jpg", class: "img-picture" %></p> 
          <div class="human-detail_box">
            <dl class="human-detail">
              <dt class="detail-title">【職業】</dt>
              <dd class="detail-detail">パーソナルトレーナー</dd>
            </dl>
            <dl class="human-detail">
              <dt class="detail-title">【職歴】</dt>
              <dd class="detail-detail">15年</dd>
            </dl>
            <dl class="human-detail">
              <dt class="detail-title">【スキル】</dt>
              <dd class="detail-detail">ボディメイク、栄養管理・知識</dd>
            </dl>
            <dl class="human-detail">
              <dt class="detail-title">【求めていたスキル】</dt>
              <dd class="detail-detail">トレーニング風景を撮影してくれるカメラマン。</dd>
            </dl>
          </div>        
        </div>
        </li>
        <li>
        <p class="human-name">フォトグラファーBさん</p>
        <div class="about-human">
          <p class="human-image"><%= image_tag "photographer.jpg", class: "img-picture" %></p>
          <div class="human-detail_box">
            <dl class="human-detail">
              <dt class="detail-title">【職業】</dt>
              <dd class="detail-detail">フリーランスカメラマン</dd>
            </dl>
            <dl class="human-detail">
              <dt class="detail-title">【職歴】</dt>
              <dd class="detail-detail">5年</dd>
            </dl>
            <dl class="human-detail">
              <dt class="detail-title">【スキル】</dt>
              <dd class="detail-detail">写真撮影、映像制作</dd>
            </dl>
            <dl class="human-detail">
              <dt class="detail-title">【求めていたスキル】</dt>
              <dd class="detail-detail">モデルになってくれる方。WEB制作のできる方。</dd>
            </dl>
          </div>        
        </div>
        </li>
      </ul>
    </div>
  <div class='profile-contents'>
    <h3 class='title'>UNION WORKE</h3>
    <p class= 'subtitle'>新規投稿プロフィール</p>
    <ul class='profile-lists'>

    <% if @users[0] != nil %> 
      <% @users.each do |user|%> 
        <li class='list'>

          <%= link_to user_path(user.id), method: :get do %>
          <div class='flex'>
            <div class='profile-img-content'>
              <%= image_tag user.image, class: "profile-img" %>
            </div>

            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= user.nickname %> 
              </h3>
              <h2 class='profile-list'>【職業】</h2>
              <h3 class='profile-profession-name'>
                <%= user.profession_name %> 
              </h3>
              <h2 class='profile-list'>【スキル】</h2>
              <h3 class='profile-can-do-list'>
                <%= user.can_do_list %> 
              </h3>

              <h2 class='profile-list'>【求めていたスキル】</h2>
              <h3 class='profile-want-to-do'>
                <%= user.want_to_do %> 
              </h3>
            </div>
            
          </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
      
    <% if @users.length == 0 %> 
      <li class='list'>
      
        <%= link_to '#' do %>
        <%= image_tag 'union02.png', class: "profile-img" %>
        <div class='profile-info'>
          <h3 class='profile-name'>
            プロフィール登録してね！
          </h3>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
      
    </ul>
  </div>
  <%# /商品一覧 %>
</div>

  <%#= link_to( user_path(user_id), class: 'purchase-btn') do %>
    <%# <span class='purchase-btn-text'>登録は<br>こちら</span>  %>
    <%#= image_tag 'plus.png' , class: "purchase-btn-icon" %>
  <%# end %> 

<%= render "shared/footer" %>