<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("union02.png", class:"union-icon"), "/" %>
    <div id="nav-search">
        <%= form_tag '/', :method => 'get' do %>
            <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "検索", :name => nil %>
            </p>
        <% end %>
    </div><!-- nav-search -->
    
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "logout" %></li>
        
        <li><%= link_to current_user.nickname, "/users/edit", class: "user-nickname" %></li>
        
      <% else %>
        <li><%= link_to "ログイン", "/users/sign_in", class: "post" %></li>
        <li><%= link_to "新規登録", "/users/sign_up", class: "post" %></li>
      <% end %>
    </ul>
  
</header>