<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("union_logo.png", class:"union-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "union_logo.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "logout" %></li>
        
        <li><%= link_to current_user.nickname, "/users/edit", class: "user-nickname" %></li>
      <% else %>
        <li><%= link_to "ログイン", "/users/sign_in", class: "post" %></li>
        <li><%= link_to "新規登録", "/users/sign_up", class: "post" %></li>
      <% end %>
    </ul>
  </div>
</header>